/* Réinitialisation des styles par défaut */
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-image: url('images/imagesdefonds.jpg'); /* Remplace avec le chemin de ton image de fond */
    background-size: cover;
}

/* Styles de la navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond de la navbar avec transparence */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 999;
}

/* Styles des éléments de la navbar */
.parallax {
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    color: #FFD700; /* Couleur du texte par défaut */
}

/* Animation des éléments de la navbar lors du clic */
.parallax.clicked {
    animation: whirl-shrink-and-grow 2s linear infinite, text-fade 2s linear infinite; /* Animation au clic */
}

/* Animation d'effet de tourbillon et de rétrécissement/agrandissement */
@keyframes whirl-shrink-and-grow {
    0% { transform: rotate(0deg) scale(1); }
    25% { transform: rotate(90deg) scale(0.3); }
    50% { transform: rotate(180deg) scale(0.2); }
    75% { transform: rotate(270deg) scale(0.3); }
    100% { transform: rotate(360deg) scale(1); }
}

/* Animation de changement de couleur */
@keyframes text-fade {
    0%, 100% { color: #FFD700; }
    25% { color: #FFA500; }
    50% { color: #FF8C00; }
    75% { color: #FF4500; }    
}
