/* les marges et les paddings */
/* body, h1, p, form, input {
    margin: 1%;
    padding: 1%;
} */

.login-box {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    color: #1c69a5;
    /* font-size: 24px; */
    font-size: 2em;
    text-align: center;
    /* margin-bottom: 20px; */
    margin-bottom: 1em;
}

.login-box .input-group {
    margin-bottom: 15px;
}

.login-box .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* .login-box .input-group input[type="text"],
.login-box .input-group input[type="password"] { */
.login-box .input-group input {
    width: 94%;
    /* padding: 10px; */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-box .input-group input[type="submit"] {
    width: 100%;
    /* padding: 10px; */
    /* border: none; */
    /* border-radius: 3px; */
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.login-box .input-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-box .social-login {
    /* margin-top: 20px; */
    margin-top: 2em;
}

.login-box .social-login a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #007bff;
}
